h1 {
  font-family: Sans-serif;
  font-size: 50px;
  background-color: skyblue;
}

 #img-div {

 background-color: lightgrey;
  text-align: center;

}

 #image {

  max-width: 200%;
  height: auto;
  display: block;
  margin: auto;

}

 #tribute-link {
   color: blue;
   font-weight: bold;
 }


  #img-caption {
    font-size: 30px;
    background-color: skyblue;


    }

#tribute-info {
  font-size: 20px;
  font-family: Helvetica;
}
